@import 'Mixin.scss';

.blog-header {
    @include blog-section;
    @include margin-top;
    @include border-bottom;

    padding-bottom: 3em;

    h2 {
        font-size: 300%;
        color: #555;
    }

    .blog-header-img {
        height: 300px;
        background: url('../img/blog-header.jpg') no-repeat center / cover;
        border: 5px solid #ddd;
        margin: 3em 0;
        box-sizing: border-box;
    }
}
