@import 'Mixin.scss';

.content {
    @include blog-section;
    @include margin-top;
    margin-bottom: 50px;

    h1 {
        font-size: 180%;
        color: #3B5998;
        height: 2em;
        line-height: 2em;
        margin-bottom: .9em;
        font-weight: bold;
        border-bottom: 5px solid #3B5998;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    h2 {
        text-indent: .5em;
        margin: 1em 0;
        font-size: 125%;
        color: #3B5998;
    }

    h3 {
        text-indent: 1em;
        color: #3B5998;
        font-size: 110%;
    }

    img {
        display: block;
        margin: auto;

        @media (max-width: $small) {
            width: 100%;
            height: auto;
        }
    }

    p {
        margin: 1em 0;
        line-height: 1.7;

        code {
            background: #FFEBCD;
            padding: .1em .5em;
            border-radius: .3em;
        }
    }

    blockquote {
        width: 90%;
        padding: 0.3em 0.9em;
        background: #eee;
        border-left: 5px solid rgb(255, 128, 0);
        margin: 2em 0;

        p {
            margin: 1em 0;
        }
    }

    pre {
        width: 90%;
        background: #FFFAF0;
        padding: 1.4em;
        overflow-x: auto;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
    }

    ul {
        margin-left: 2em;
        padding: 0.9em;
        li {
            list-style: disc;
        }
    }

    span.hljs-params {
        color: #f92672;
    }
}
