@import 'Mixin.scss';

.article {
    overflow-y: auto;
    width: 77%;
    height: 100%;
    @media (max-width: $middle) {
        width: 100%;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
    }

    .loading {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .ds-thread {
        @include blog-section;
        // margin-bottom: 50px;
    }

    .show-btn {
        display: block;
        margin: auto;
        width: 50%;
        margin-bottom: 50px;
        border-radius: 5px;
        background: #5f6d7e;
        color: white;
        outline: none;
        border: 1px solid #eee;
        line-height: 2;
    }
}

.article-hide {
    display: none;
}
