$gaint: 1323px;
$middle: 825px;
$small: 460px;

@mixin margin-top {
    @media (max-width: $middle) {
        margin-top: 56px;
    }
}

@mixin content {
    width: 77%;
    height: 100%;
    overflow-y: auto;
    position: relative;

    @media (max-width: $middle) {
        width: 100%;
    }
}

@mixin navbar-padding {
    padding-left: 50px;
}

@mixin border-bottom {
    border-bottom: 4px solid #eee;
}

@mixin blog-section {
    width: 80%;
    margin: auto;

    @media (max-width: $middle) {
        width: 90%;
    }
}

@mixin profile-section {
    width: 80%;
    margin: auto;
    padding: 5em 0;

    @media (max-width: $middle) {
        width: 90%;
    }

    h3 {
        font-size: 300%;
        margin-bottom: 1em;
    }
}
